/*
https://www.deepl.com/
*/
* {
  font-family: monospace !important;
  background-color: #090909 !important;
  color: #8aebff !important;
  border: 0px !important;
}
*::-webkit-scrollbar {
  width: 5px !important;
}
*::-webkit-scrollbar-track {
  background: #0000 !important;
}
*::-webkit-scrollbar-thumb {
  background: #555a !important;
  border-radius: 5px !important;
}
::selection {
  background: #1a1a2e !important;
  color: #ff00ff !important;
}
#dl_translator {
  padding: 1rem;
}
.lmt__sides_container {
  min-height: 85vh;
}
.dl_header_menu_v2,
header {
  display: none;
}
.lmt__textarea_container {
  border-top: 0px solid #8aebff !important;
  padding: 1rem !important;
}
.eSEOtericText {
  display: none !important;
}
/*
document
  .getElementsByTagName("textarea")[0]
  .setAttribute("spellcheck", "false");
document
  .getElementsByTagName("textarea")[1]
  .setAttribute("spellcheck", "false");
*/
